<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Tesztek</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="menu">
        <a href="http://localhost:8090">Főoldal</a>&nbsp;&nbsp;
        <a href="http://localhost:8090/test/addTest">Új feladat hozzáadása</a>
    </div>
    <h2>Tesztek</h2>
    <form action="/register" method="POST">
        <input type="text" name="fullName" />
        <input type="password" name="password" />
        <input type="text" name="username" />
        <input type="number" name="roleId" />
        <input type="submit" value="Submit"/>
    </form>
    <div style="overflow-x:auto;">
        <table style="width:100%">
            <tr id="testHeader">
                <th>Cím</th>
            </tr>
        </table>
    </div>
    <div id="like_button_container"></div>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="built/like_button.js"></script>
</body>
</html>